.orange-color{
    color:rgb(88, 22, 6);
}
.player-img{
    width:300px;
}

.player{
    border:1px solid rgb(155, 93, 93);
    margin: 20px;
    display: inline-block;
    padding:20px;
    box-shadow: 1px 2px 15px red;
    
    
}
.btn{
    color:white;
    padding:10px 30px;
    background-color: rgb(255, 5, 88);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}